
/* css style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 50px;
    background: rgb(102, 118, 138);
    color: rgb(214, 214, 236);
}

nav {
    height: 50px;
    width: 100%;
    text-align: center;
}

nav a {
    color: var(--white);
    font-weight: 700;
    font-size: 0.8rem;
}

.nav-left,
.nav-center,
.nav-right {
    height: 50px;
    width: 33.33%;
    float: left;
}

.nav-left {
    line-height: 50px;
}

.nav-left a {
    float: left;
    margin-left: 1rem;
}

.nav-left a:hover {
    color: var(--accent);
    transform: scale(1.3);
}

.nav-center a {
    text-align: center;
}

.nav-center img {
    height: 48px;
}

.nav-right {
    position: relative;
}

.nav-right a {
    background: var(--white);
    color: var(--mediumBlue);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translatey(-50%);
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: 1rem;
}

.nav-right a:hover {
    background: var(--accent);
    color: var(--white);
    border: 1px solid var(--white);
    box-shadow: 0 0 0 2px var(--accent);
}

/* **************************************************************** */
/* Hero */
/* **************************************************************** */

.hero {
    background: rgb(102, 118, 138);
    background-size: cover;
    background-position: cover cover;
    color: whitesmoke;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 5%;


}

.hero h1 {
    font-size: 3.5rem;
    padding: 2.5rem 0;
    text-align: center;
    
}

.hero p {
    text-align: center;
    font-size: 1.1rem;
    width: 100%;
    padding: 1rem;
    margin: auto 0;
    text-align: center;
    letter-spacing: 0.5rem;

}

.hero a {
    color: var(--white);
}

.hero a:hover {
    color: var(--accent);
    border: 3px solid var(--accent);
    border-radius: 50px;
    padding: 1rem 1.5rem;
}

.hero i {
    font-size: 2rem;
    position: relative;
    top: 6px;
    right: 10px;
    margin-bottom: 3.5rem;
}

.hero span {
    display: block;
    font-style: italic;
    font-size: 0.9rem;
    color: var(--darkBlue);
    padding-bottom: 1.5rem;
}


.sect {
    overflow: hidden;
    background: white;
    width: 100%;
    height: 100%;
    padding: 6%;
}

.sect h1 {
    text-align: center;
    text-transform: uppercase;
    color: black;
    padding: 2rem 0;
    font-size: 2.5rem;
    font-weight: 1.5rem;
}

.sect p {
   text-align: center;
   padding: 2rem;
   width: 60%;
   margin: 0 auto;
   letter-spacing: 0.2rem;
   font-size: 1.7rem;
}


.layout {
    background: rgb(236, 237, 237);
    width: 100%;
    overflow: auto;
}

.layout-gym, .layout-visit {
    width: 50%;
    float: left;
    text-align: center;
    padding: 14rem 0;
}

.layout-gym_imag, .layout-visit_img {
    width: 30rem;
    height: 20rem;
    margin: 0 auto;
}

.layout-gym h3, .layout-visit h3 {
    padding: 2rem 0;

}

.layout-gym p , .layout-visit p {
    padding: 2rem;
    width: 60%;
    margin: 0 auto;
    letter-spacing: 0.2rem;
}

.layout-gym button, .layout-visit button {
    border: none;
    padding: 0.5rem 1.5rem;
    outline: 1px solid black;
    color: black;
}

.layout-gym_imag img, .layout-visit_img img {
    width: 100%;
    height: 100%;
}

.extr {
    overflow: hidden;
    background: white;
    width: 100%;
    height: 100%;
    padding: 6%;
}

.extr h2 {
    text-align: center;
    text-transform: uppercase;
    color: black;
    padding: 1.5rem;
    font-size: 2.5rem;
}

.extr p {
    text-align: center;
    padding: 2rem;
    width: 60%;
    margin: 0 auto;
    letter-spacing: 0.2rem;
    font-size: 1.7rem;
    font-weight: 1.5rem;
    
}

.footer {
    padding: 0 2rem;
    overflow: hidden;
    background:rgb(22, 31, 42);
    width: 100%;
    height: 100%;
    color: whitesmoke;
   
}

.footer section {
    width: 100%;
    margin: 0;
    text-align: unset;
    
}

.footer section.footerLeft {
    width: calc(100% - 11.5rem);
    float: left;
}

.footer section.footerRight {
    width: 11.5rem;
    float: right;
    padding-top: 2rem;
}

.footerLeft, .footerRight {
    padding: 2rem;
}

section.footerBottom {
    margin: 0 auto;
    padding: 1.5rem;
}

.bottomLeft {
    float: left;
    width: 70%;
}

.bottomRight {
    float: right;
    width: 10%;
    margin: auto 0;
}

div.bottomRight img {
    position: relative;
    float: right;
    top: -10px;
}
.icons {
    font-size: 1rem;
    padding: 0;
}

.icons i {
    padding: 1rem 1rem 1rem 0;
    color: rgb(172, 164, 164);
}

.siteMap,
.contribute {
    padding-bottom: 1rem;
}

.siteMap h5,
.contribute h5 {
    font-weight: 700;
    color: rgb(134, 134, 146);
    padding-bottom: 0rem;
}

.siteMap a,
.contribute a {
    display: inline-block;
    padding: 0.25rem 0.5rem 0 0;
    color: rgb(240, 234, 224);
}

.footerRight a {
    color: rgb(230, 207, 207);
}

.line-2 {
    border-top: 1px solid whitesmoke;
}
